*{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

}

:root{
 --light:rgb(162, 202, 239);
 --avg:rgb(100, 221, 211);
 --mid:rgb(53, 177, 177);
 --full:rgb(17, 136, 149);
 --bdr:rgb(14, 22, 79);
 --top: linear-gradient(to right,rgb(14, 206, 227), rgb(23, 207, 152));


}

.main9{
    width:100%;
    height:626px;
    background-image: var(--top);
}